<div class='d-flex justify-content-between align-items-center'>
  <h1>Login de usuario</h1>
  <div><a href='/'><i class='bi bi-arrow-left-square fs-3'></i></a></div>
</div>

<div class='col-8'>
  <form action='/auth/login' method='post' enctype='multipart/form-data'>
    <div class='mb-3'>
      <label for='email' class='form-label'>Seu email</label>
      <input
        type='text'
        class='form-control {{#if errors.email}}is-invalid{{/if}}'
        value="{{credentials.email}}"
        name="email"
        id='email'
        placeholder='joao@exemplo.com'
      />
      <div class="invalid-feedback">
        {{errors.email}}     
      </div>
    </div>
    <div class='mb-3'>
      <label for='password' class='form-label'>Sua senha</label>
      <input
        type='password'
        class='form-control {{#if errors.password}}is-invalid{{/if}}'
        value="{{credentials.password}}"
        name="password"
        id='password'
        placeholder='********'
      />
      <div class="invalid-feedback">
        {{errors.password}}     
      </div>
    </div>
    <div class='mb-3 d-flex flex-row-reverse'>
      <button type='submit' class='btn btn-primary'>Enviar</button>
    </div>
  </form>
</div>